/* Estilos CSS para el perfil de Facebook */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #3b5998;
    padding: 10px 20px;
    color: #fff;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
  }
  
  aside {
    flex-basis: 25%;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f0f2f5;
  }
  
  .profile-sidebar img {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .profile-sidebar h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .profile-sidebar p {
    margin: 5px 0;
  }

  section {
    flex-basis: 70%;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 0 20px;
    margin-bottom: 20px;
  }
  
  
  .friends-section h2,
  .posts-section h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .friends-section ul,
  .posts-section .post {
    list-style-type: none;
    padding: 0;
  }
  
  .friends-section li,
  .posts-section .post {
    margin-bottom: 10px;
  }
  
  .posts-section .post small {
    color: #777;
  }
  
  footer {
    background-color: #3b5998;
    padding: 10px 20px;
    color: #fff;
    text-align: center;
  }
  